@model IEnumerable<Menus>

@{
    ViewData["Title"] = "Menus";
}

@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
{
    <a class="btn btn-primary" href="/Menus/AddMenus" role="button">Add</a>
}
<div class="d-flex flex-wrap" style="max-width: 1400px;">
    @foreach (var menus in base.Model)
    {
        var filePath = "/" + menus.Id + ".jpg";

        <div class="card mb-4 mr-4" style="width: 18rem;">
            <img src="@filePath" class="card-img-top" alt="@menus.Id">
            <div class="card-body">
                <h5 class="card-title">@menus.Name</h5>
                <p class="card-text">Price: <input type="text" value="@menus.Price" readonly></p>
            </div>
        </div>
    }
</div>